<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Orion</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/images/miao.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body" style="margin-left:-150px;margin-top: -50px">
        <div style="margin-right: 50px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>上传题目</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">专栏名称</label>
                    <div class="layui-input-block">
                        <select name="courseId" lay-filter="question_category">
                            <option th:value="${course.id}" th:text="${course.courseName}" selected=""></option>
                            <option th:each="cour:${courseList}"
                                    th:value="${cour.id}"
                                    th:text="${cour.courseName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><b>文章章节码</b></label>
                    <div class="layui-input-block">
                        <textarea name="number" class="layui-textarea"
                                  th:text="${article.number}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><b>文章标题</b></label>
                    <div class="layui-input-block">
                        <textarea name="title" class="layui-textarea"
                                  th:text="${article.title}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><b>文章内容</b></label>
                    <div class="layui-input-block">
                        <textarea name="content" class="layui-textarea"
                                  th:text="${article.content}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text" style="display: none;">
                    <div class="layui-input-block">
                    <textarea name="id" class="layui-textarea"
                              th:text="${article.id}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit="" lay-filter="demo2">更新文章</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/jquery/jquery.min.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use(['form', 'layedit', 'laydate', 'rate', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            // , layedit = layui.layedit
            , laydate = layui.laydate;
        var rate = layui.rate,
            $ = layui.jquery;

        //监听提交
        form.on('submit(demo2)', function (data) {
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // });
            $.ajax({
                url: "/study/article/edit",
                data: JSON.stringify(data.field),
                type: "post",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    console.log("haha");
                    layer.alert('更新文章成功！', {icon: 6}, function () {
                        location.replace("/study/article/list")
                    });
                },
                error: function (e, m) {
                    console.log(e);
                    console.log(m);
                }
            });
            return false;
        });

    });
</script>
</body>
</html>