<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body>
<div class="container" th:include="toubu::toubu_container"></div>
<div class="wrapper">
    <div class="left-nav" th:include="index-left::index_left"></div>

    <div class="page-content">
        <div class="content">
            <xblock>
                <blockquote class="layui-elem-quote">
                    待审核题目列表
                </blockquote>
<!--                <button class="layui-btn" onclick="window.open('/question/upload/detail','top')">-->
<!--                    <i class="layui-icon">&#xe608;</i>添加题目-->
<!--                </button>-->
                <table class="layui-table">
                    <thead>
                    <tr>
                        <!--                        <th>-->
                        <!--                            <input type="checkbox" name="" value="">-->
                        <!--                        </th>-->
                        <th>
                            ID
                        </th>
                        <th>
                            题目
                        </th>
                        <th>
                            分类
                        </th>
                        <th>
                            种类
                        </th>
                        <th>
                            题目描述
                        </th>
                        <th>
                            难度级别
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody th:each="question:${auditList}">
                    <tr>
                        <td th:text="${question.id}"></td>
                        <td th:text="${question.title}"></td>
                        <td th:text="${question.categoryName}"></td>
                        <td th:text="${question.type}"></td>
                        <td th:text="${question.description}"></td>
                        <td th:text="${question.difficulty}"></td>
                        <td class="td-manage">
                            <!--                            th:onclick="'javascript:member_edit('编辑',\''+'/get/'+${question.id}+'\','4','','510');'"-->
                            <!--                            th:onclick="'window.location.href = \'' + @{/question/get/{id}(id=${question.id})} + '\''"-->
                            <!--                            th:onclick="'window.open(\'' + @{/question/get/{id}(id=${question.id})} + \'','top')'"-->
                            <!--                            onclick="window.open('/question/get/1','top')"-->
                            <a style="text-decoration:none"  onclick="member_password('修改密码','member-password.html','10001','600','400')"
                               href="javascript:;" title="修改密码">
                                <i class="layui-icon">&#xe631;</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </xblock>
        </div>
    </div>
</div>

<!-- 背景切换开始 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/c.jpg" alt=""></div>
        </div>
    </div>
</div>

<!-- 页面动态效果 -->
<script>

    layui.use(['laydate'], function () {
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //


        var start = {
            min: laydate.now()
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        // document.getElementById('LAY_demorange_s').onclick = function () {
        //     start.elem = this;
        //     laydate(start);
        // };
        // document.getElementById('LAY_demorange_e').onclick = function () {
        //     end.elem = this;
        //     laydate(end);
        // }

    });

    /*用户-添加*/
    function member_add(title, url, w, h) {
        x_admin_show(title, url, w, h);
    }

    // 用户-编辑
    function member_edit(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }
</script>
</body>
</html>